body{
    background: aliceblue;
}

h1 {
    color: brown;
    text-align: center;
}

header{
    font-family: 'Arial', '휴먼편지체', 'Serif';
    text-indent: 1em;
    font-size: 1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

h2{
    color:blue;
    text-shadow: 5px 4px 11px rgb(44, 175, 226);
}

ul{
    border: 1px dotted;
}

a{
    color:blue;
    text-decoration : none;
}
